<div class="modal fade" id="ModalCambiarContra" tabindex="-1" role="dialog" aria-labelledby=" ModalCambiarContra" aria-hidden="true">
    <div class=" modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #ffbd26">
                <h4 class="modal-title" style="font-family:Virgina" id="exampleModalLabel2"><strong>Cambiar contraseña</strong></h4>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close" onclick="CerrarModal()"></button>
            </div>
            <div class=" modal-body">
                <label id="LbGeneral" style="color:red; left:5px; font-size:20px; margin-top:8px;"></label>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="mb-3">
                            <label class="col-form-label" for="recipient-name">Usuario:<label id="Lb1" hidden style="color:red;">*</label></label>
                            <input class="form-control" type="text" id="txtUsuarioModal" name=" user_NombreUsuario" placeholder="Usuario">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="mb-3">
                            <label class="col-form-label" for="message-text">Contraseña:<label id="Lb2" hidden style="color:red;">*</label></label>
                            <input class="form-control" type="text" id="txtpasswordModal" name="user_Contrasena" placeholder="Contraseña" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal" onclick="CerrarModal()">Cancelar</button>
                <a class="btn btn-primary" onclick="CambiarPassword()">Cambiar Contraseña</a>
            </div>
        </div>
    </div>
</div>