@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="text-center">
    <h1 class="display-4">¡Bienvenido!</h1>
    <p>Hola angie! que ondas estamos haciendo una pagina que epico, no?.</p>
    <p>No tengo inspiración ayuda marta</p>
</div>

<div style="background-image: url(https://i.pinimg.com/originals/6c/67/ce/6c67ce1557d591b11d36100307ad5c30.gif) ">
    @*<div class="card">
        <div class="card-header">

        </div>
        <div class="card-body">

        </div>
        <div class="card-footer">

        </div>
    </div>*@
</div>


@{
    if (ViewBag.Mensaje != "" && ViewBag.Mensaje != null)
    {
        string Mensaje = ViewBag.Nombre;
        <script>
            MostrarMensajeSuccess("Bienvenido"+ @Mensaje);
        </script>
    }

}