@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="text-center">
    <img src="~/Content/images/ACROPOLIS-LOGO.png" width="270" />
    <h5 style="font-family:Virgina" class="display-4">¡Bienvenido!, <strong>@ViewBag.Nombre</strong> </h5>
    <div style="background-color: #ffbd26">
        <br />
    </div>
</div>






@{
    if (ViewBag.Mensaje != "" && ViewBag.Mensaje != null)
    {
        string Mensaje = ViewBag.Nombre;
        <script>
            MostrarMensajeSuccess("Bienvenido"+ @Mensaje);
        </script>
    }

}