<Form action="@Url.Action("Create","Cargos")" method="post" id="createcargos">

    <div class="modal fade" id="CreateCargos" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="card-header" style="background-color:#ffbd26">
                    <div class="text-center">
                        <h3 style="color:black"><strong>Nuevo Cargo</strong></h3>
                    </div>
                </div>
                <div class="modal-body">
                    <br />
                    <label class="text-danger">*</label>
                    <label>Descripción</label>
                    <input type="text" id="carg_Cargo" name="carg_Cargo" class="form-control" />
                    <br />
                </div>
                <div class="modal-footer">
                    <button type="button" data-bs-dismiss="modal" style="color: black" class="btn btn-primary"><i class="icon-copy fa fa-remove" aria-hidden="true"></i> Cancelar</button>
                    <button type="button" onclick="GuardarInsert()" class="btn btn-secondary"> <i class="icon-copy fa fa-floppy-o" aria-hidden="true"></i> Guardar</button>
                </div>
            </div>
        </div>
    </div>
</Form>
<script>

    function GuardarInsert() {

        var siuu = true;


        if ($('#carg_Cargo').val() == "") {
            mostrarErrorToast("Campos requeridos.");
            siuu = false;
            console.log(1);

        }

        if (siuu) {
            $('#createcargos').submit();
        }

    };

</script>
