@model Construccion.WEBUI.Models.ClientesViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-12 mb-0 order-0">
    <div class="card" style="background-color: white">
        <div class="d-flex align-items-end row">
            <div class="col-sm-12">
                <div class="card-header" style="background-color: #ffbd26">
                    <div class="text-center">
                        <img src="~/Content/images/ACROPOLIS-LOGO.png" width="200" />
                        <h3 style="color:black"><strong>Cree un Cliente</strong></h3>
                    </div>
                </div>
                <div class="card-body">
                    <form asp-action="Create" id="CrearCliente" class="needs-validation" method="post" novalidate>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="text-danger">*</label>
                                    <label asp-for="clie_Identificacion" class="control-label"></label>
                                    <input asp-for="clie_Identificacion" id="identificacion" class="form-control" />
                                    <div class="text-center">
                                        <strong>
                                            <span asp-validation-for="clie_Identificacion" class="text-danger"></span>
                                        </strong>
                                    </div>
                                </div>
                                </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="text-danger">*</label>
                                    <label asp-for="clie_Nombre" class="control-label"></label>
                                    <input asp-for="clie_Nombre" id="nombre" class="form-control" />
                                    <div class="text-center">
                                        <strong>
                                            <span asp-validation-for="clie_Nombre" class="text-danger"></span>
                                        </strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="text-danger">*</label>
                                    <label asp-for="clie_Telefono" class="control-label"></label>
                                    <input asp-for="clie_Telefono" id="telefono" class="form-control" />
                                    <div class="text-center">
                                        <strong>
                                            <span asp-validation-for="clie_Telefono" class="text-danger"></span>
                                        </strong>
                                    </div>
                                </div>
                                </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="text-danger">*</label>
                                    <label asp-for="clie_CorreoElectronico" class="control-label"></label>
                                    <input asp-for="clie_CorreoElectronico" id="correo" placeholder="ejemplo@gmail.com" class="mdi-email-box, form-control" type="email" />
                                    <div class="text-center">
                                        <strong>
                                            <span asp-validation-for="clie_CorreoElectronico" class="text-danger"></span>
                                        </strong>
                                    </div>
                                </div>
                                </div>

                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="text-danger">*</label>
                                    <label>Departamento<label id="Error4" hidden style="color:red; font-size:14px;">*</label></label>
                                    <select asp-for="depto" class="form-control" id="ddlDepto">
                                    </select>
                                    <div class="text-center">
                                        <strong>
                                            <span asp-validation-for="depto" class="text-danger"></span>
                                        </strong>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="text-danger">*</label>
                                    <label>Municipio<label id="Error5" hidden style="color:red; font-size:14px;">*</label></label>
                                    <select asp-for="muni_Id" class="form-control" id="ddlMunicipio" disabled>
                                        <option value="">Por favor escoja un departamento</option>
                                    </select>
                                    <div class="text-center">
                                        <strong>
                                            <span asp-validation-for="muni_Id" class="text-danger"></span>
                                        </strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="text-danger">*</label>
                                    <label asp-for="clie_DireccionExacta" class="control-label"></label>
                                    <input asp-for="clie_DireccionExacta" id="direccion" class="form-control" />
                                    <div class="text-center">
                                        <strong>
                                            <span asp-validation-for="clie_DireccionExacta" class="text-danger"></span>
                                        </strong>
                                    </div>
                                </div>
                                </div>
                        </div>
                        <br />
                        <div class="card-footer">
                            <div class="text-center">
                                <input type="submit" value="Create" class="btn btn-primary" />
                                <a class="btn btn-secondary" asp-action="Index">Volver</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/Clientes/Create.js"></script>


