<div class="modal fade bd-example-modal-lg" tabindex="-1" id="ModalInsumosPorConstruccion" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">Insumos Por construccion</h4>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="table table-responsive">
                    <table class="display" id="TableInsumos">
                        <thead>
                            <tr>
                                <th>
                                    Insumos Id
                                </th>
                                <th>
                                    Insumos
                                </th>
                                <th>
                                    Unidades de medida
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
                <button class="btn btn-primary" type="button">Send message</button>
            </div>
        </div>
    </div>
</div>